<style>
  .search-btn {
    background-color: #fe424d;
    color: #fff;
    border-radius: 25px;
    padding: 0 1rem 0 1rem;
  }
  .search-btn:hover {
    background-color: #fe424d;
    color:#fff;
  }
  .search-btn i{
    display: inline;
    margin-right: 0.5rem;
  }
  .search-inp {
    border-radius: 25px;
    padding: 0.5rem 3rem 0.5rem 3rem;
    font-size: 1rem;
  }
</style>

<nav class="navbar navbar-expand-md bg-body-light border-bottom sticky-top">
  <div class="container-fluid">

    <!-- Brand -->
    <a class="navbar-brand" href="#"><i class="fa-regular fa-compass"></i></a>

    <!-- Toggler -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Collapsible Content -->
    <div class="collapse navbar-collapse" id="navbarNav">
      <!-- Left Nav Items -->
      <div class="navbar-nav me-3">
        <a class="nav-link" href="/listings">Explore</a>
      </div>

      <!-- Search Bar (Center-Aligned with Flex) -->
      <form class="d-flex align-items-center mx-auto" role="search">
        <input class="form-control me-2 search-inp" type="search" placeholder="Search Destinations" aria-label="Search" />
        <button class="btn search-btn" type="submit"><i class="fa-solid fa-magnifying-glass"></i>Search</button>
      </form>

      <!-- Right Nav Items -->
      <div class="navbar-nav ms-auto align-items-center">
        <a class="nav-link" href="/listings/new">Add new Listing</a>
        <% if (!currUser) { %>
          <a class="nav-link active" href="/signup"><b>Sign Up</b></a>
          <a class="nav-link" href="/login"><b>Log in</b></a>
        <% } %>
        <% if (currUser) { %>
          <a class="nav-link" href="/logout"><b>Log out</b></a>
        <% } %>
      </div>
    </div>

  </div>
</nav>
